.container{
  padding-top: 50px;
}



.panel-heading{
  text-align: center;
  font-family: neatchalk, Tahoma, sans-serif;
  border-color: grey;
  font-size: 0.6em;
}

.panel-primary{
  border-color: grey;
}


input{
  text-align: center;
}

.btn-success{
  background-color: #35a037;
  border-color: #276f29;
}

.btn-success:hover{
  background-color: #2a652d;
}
