<div class="container ">
  <div class="col-xs-6 col-xs-offset-3  ">
    <div class="panel panel-primary ">

      <div class="panel-heading ">Inscription</div>
      <div class="panel-body">
        <form >
          <div class="form-group">
            <input  class="form-control rounded" ngModel="" type="text" name="mail" placeholder="Mail" required>
          </div>
          <div class="form-group">
            <input class="form-control rounded" ngModel="" type="password" name="motDePasse" placeholder="Mot de passe" required>
          </div>
          <div class="form-group">
            <input class="form-control rounded" ngModel="" type="password" name="reMotDePasse" placeholder="Confirmation mot de passe" required>
          </div>
          <button type="submit" class="btn btn-success rounded col-md-offset-2 col-md-3 col-xs-4 col-xs-offset-1 ">Valider</button>
          <a href="/inscription"  class="btn btn-info rounded col-md-offset-2 col-md-3 col-xs-offset-1 col-xs-5">Retour</a>
        </form>
      </div>
    </div>
  </div>
</div>
