<div class="container ">
  <div class="col-xs-6 col-xs-offset-3  ">
    <div class="alert alert-success" *ngIf="inscrit">
    <strong>Inscription validée!</strong>
    </div>
    <div class="panel panel-primary" *ngIf="!inscrit">

      <div class="panel-heading ">Inscription</div>
      <div class="alert alert-danger" *ngIf="erreur==1">
        <strong>Mail déja utilisé!</strong>
      </div>
      <div class="alert alert-danger" *ngIf="erreur==2">
      <strong>Erreur d'enregistrement en base de donnée</strong>
    </div>

      <div class="panel-body">
        <form #insForm = "ngForm" (ngSubmit)="onInscription(insForm.value)">
          <div class="form-group">
            <input  class="form-control rounded"
                    [(ngModel)] = "ensRefForm.nom"
                    #nom=ngModel
                    type="text" name="nom"
                    placeholder="Nom" required>
          </div>
          <div *ngIf="nom.invalid && (nom.dirty || nom.touched)"
               class="alert alert-danger">
            <div *ngIf = "nom.errors?.required">
              Veuillez entrer un nom.
            </div>
          </div>
          <div class="form-group">
            <input  class="form-control rounded"
                    [(ngModel)] = "ensRefForm.prenom"
                    #prenom=ngModel
                    type="text" name="prenom"
                    placeholder="Prenom" required>
          </div>
          <div *ngIf="prenom.invalid && (prenom.dirty || prenom.touched)"
               class="alert alert-danger">
            <div *ngIf = "prenom.errors?.required">
              Veuillez entrer un prenom.
            </div>
          </div>
          <div class="form-group">
            <input  class="form-control rounded"
                    [(ngModel)] = "ensRefForm.mail"
                    #mail=ngModel
                    type="text" name="mail"
                    pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-z]{2,3}$"
                    placeholder="Mail" required>
          </div>
          <div *ngIf="mail.invalid && (mail.touched)"
               class="alert alert-danger">
            <div *ngIf = "mail.errors?.required">
              Veuillez entrer un mail.
            </div>
            <div *ngIf = "mail.errors?.pattern && mail.touched">
              Format incorrect.
            </div>
          </div>

          <div ngModelGroup="motDePasse" #verifmpd="ngModelGroup"  >
            <div class="form-group">
              <input
                class="form-control rounded"
                type="password"
                ngModel name="mpd"
                #mpd=ngModel
                placeholder="Mot de Passe"
                minlength ="8" required>
            </div>

            <div class="form-group">
              <input
                class="form-control rounded"
                type="password"
                ngModel name="rempd"
                #rempd=ngModel
                placeholder="Confirmer Mot de passe"
                required>
            </div>


            <div *ngIf="((mpd.invalid && mpd.touched) || ((verifmpd.value?.mpd != verifmpd.value?.rempd) && rempd.touched) )"
                 class="alert alert-danger">

              <div *ngIf = "mpd.invalid; else nomatch">
                8 caratères minimum.
              </div>
              <ng-template #nomatch >
                les mots de passe ne sont pas identiques.
              </ng-template>
            </div>
          </div>


          <button type="submit" class="btn btn-success rounded col-md-offset-2 col-md-3 col-xs-4 col-xs-offset-1 "
                  [disabled]="!insForm.form.valid || verifmpd.value?.mpd != verifmpd.value?.rempd" >Valider</button>
          <a href="/login"  class="btn btn-info rounded col-md-offset-2 col-md-3 col-xs-offset-1 col-xs-5">Retour</a>
        </form>
      </div>
    </div>
  </div>
</div>
