<span *ngIf="!eleve.vu" class="d-flex justify-content-center eleveTitle">
    {{eleve.nom}} {{eleve.prenom}}     - Né(e) le   {{eleve.dateNaissance | date:'dd/MM/yy'}}
  </span>
<span *ngIf="eleve.vu" class="d-flex justify-content-center eleveTitleVu">
    {{eleve.nom}} {{eleve.prenom}}     - Né(e) le    {{eleve.dateNaissance | date:'dd/MM/yy'}}
  </span>
<div class="row  col-sm-12">
  <div class="col-12 col-xl-8 noPaddingRight">
    <div class="row  col-sm-12 noPaddingRight">
      <div class="col-12 col-md-6 divCard">
        <mdb-card class="eleveEditCard">
          <mdb-card-header class="eleveEditCardHeader">
            Etablissement
          </mdb-card-header>
          <mdb-card-body>
            <table mdbTable small="true">
              <tbody>
                <tr>
                  <td>Nom:</td>
                  <td  class="typeWriter">{{eleve.etablissement.nom}}</td>
                </tr>
                <tr>
                  <td>RNE:</td>
                  <td class="typeWriter">{{eleve.etablissement.rne}}</td>
                </tr>
                <tr>
                  <td>PIAL:</td>
                  <td class="typeWriter">{{eleve.etablissement.pial.nom}}</td>
                </tr>
                <tr>
                  <td>Adresse:</td>
                  <td class="typeWriter">{{eleve.etablissement.adresse.numero}},
                    {{eleve.etablissement.adresse.voie}}
                    {{eleve.etablissement.adresse.codePostal}}
                    {{eleve.etablissement.adresse.ville}}
                  </td>
                </tr>
                <tr>
                  <td>Téléphone:</td>
                  <td class="typeWriter">{{eleve.etablissement.telephone}}</td>
                </tr>
                <tr>
                  <td>Mail:</td>
                  <td class="typeWriter">{{eleve.etablissement.mail}}</td>
                </tr>
              </tbody>
            </table>
          </mdb-card-body>
        </mdb-card>
      </div>
      <div class="col-12 col-md-6 divCard">
        <mdb-card  class="eleveEditCard">
          <mdb-card-header class="eleveEditCardHeader">
            AESH
          </mdb-card-header>
          <mdb-card-body>
            <table mdbTable *ngIf="eleve.aesh!=null" small="true">
              <tbody>
              <tr>
                <td>Nom:</td>
                <td class="typeWriter">{{eleve.aesh.nom}}</td>
              </tr>
              <tr>
                <td>Prénom</td>
                <td class="typeWriter">{{eleve.aesh.prenom}}</td>
              </tr>
              <tr>
                <td>Notification:</td>
                <td class="typeWriter">{{eleve.dateNotificationAesh | date:('dd/MM/yy')}}</td>
              </tr>
              <tr>
                <td>PIAL:</td>
                <td class="typeWriter">{{eleve.aesh.pial.nom}}</td>
              </tr>
              <tr>
                <td>Téléphone:</td>
                <td class="typeWriter">{{eleve.aesh.telephone}}</td>
              </tr>
              <tr>
                <td>Mail:</td>
                <td class="typeWriter">{{eleve.aesh.mail}}</td>
              </tr>
              </tbody>
            </table>
          </mdb-card-body>
        </mdb-card>
      </div>
    </div>
    <div class="row  col-sm-12 noPaddingRight">
      <div class="col-12 col-md-6 divCard">
        <mdb-card class="eleveEditCard">
          <mdb-card-header class="eleveEditCardHeader">
            Niveau
          </mdb-card-header>
          <mdb-card-body>
            <table mdbTable small="true">
              <tbody>
              <tr>
                <td>Libéllé:</td>
                <td class="typeWriter">{{eleve.niveau.libelle}}</td>
              </tr>
              <tr>
                <td>Degré:</td>
                <td class="typeWriter">{{eleve.niveau.degre}}</td>
              </tr>
              <tr>
                <td>Spécialisé</td>
                <td *ngIf="eleve.niveau.specialise"  class="typeWriter">
                  Oui
                </td>
                <td *ngIf="!eleve.niveau.specialise"  class="typeWriter">
                  Non
                </td>
              </tr>
              </tbody>
            </table>
          </mdb-card-body>
        </mdb-card>
      </div>
      <div class="col-12 col-md-6 divCard">
        <mdb-card class="eleveEditCard">
          <mdb-card-header class="eleveEditCardHeader">
            Matériels pédagogiques
          </mdb-card-header>
          <mdb-card-body>
            <table mdbTable small="true">
              <tbody>
              <tr *ngFor="let mat of eleve.listMaterielsPedagoAdaptes">
                <td class="typeWriter">{{mat.nom}}</td>
              </tr>
              </tbody>
            </table>
          </mdb-card-body>
        </mdb-card>
      </div>
    </div>
    <div class="row  col-sm-12 noPaddingRight">
      <div class="col-12 col-md-6 divCard">
        <mdb-card class="eleveEditCard">
          <mdb-card-header class="eleveEditCardHeader">
            Représentants Légaux
          </mdb-card-header>
          <mdb-card-body>
            <ngb-accordion>
              <div *ngFor="let rep of eleve.listRepresentantsLegaux">
                <ngb-panel>
                  <ng-template ngbPanelHeader>
                    <div class="text-center">
                      <button ngbPanelToggle class="btn btn-link p-0">{{rep.identite}}</button>
                    </div>
                  </ng-template>
                  <ng-template ngbPanelContent>
                    <table mdbTable small="true">
                     <tbody>
              <tr>
                <td>Adresse:</td>
                <td class="typeWriter">{{rep.adresse.numero}},
                  {{rep.adresse.voie}}
                  {{rep.adresse.codePostal}}
                  {{rep.adresse.ville}}
                </td>
              </tr>
              <tr>
                <td>Téléphone:</td>
                <td class="typeWriter">{{rep.telephone}}</td>
              </tr>
              <tr>
                <td>Mail:</td>
                <td class="typeWriter">{{rep.mail}}</td>
              </tr>
              </tbody>
                    </table>
                  </ng-template>
                </ngb-panel>
              </div>
            </ngb-accordion>
          </mdb-card-body>
        </mdb-card>
      </div>
      <div class="col-12 col-md-6 divCard">
        <mdb-card class="eleveEditCard">
          <mdb-card-header class="eleveEditCardHeader">
            Structures professionnelles
          </mdb-card-header>
          <mdb-card-body>
            <ngb-accordion>
              <div *ngFor="let st of eleve.listEleveStructurePros">
                <ngb-panel>
                  <ng-template ngbPanelHeader>
                    <div class="text-center">
                      <button ngbPanelToggle class="btn btn-link p-0">{{st.structurePro.nom}} / {{st.structurePro.specialite}}</button>
                    </div>
                  </ng-template>
                  <ng-template ngbPanelContent>
                    <table mdbTable small="true">
                      <tbody>
                      <tr>
                        <td>Notification:</td>
                        <td class="typeWriter">{{st.dateNotification | date:('dd/MM/yy')}}</td>
                      </tr>
                      <tr>
                        <td>Adresse:</td>
                        <td class="typeWriter">{{st.structurePro.adresse.numero}},
                          {{st.structurePro.adresse.voie}}
                          {{st.structurePro.adresse.codePostal}}
                          {{st.structurePro.adresse.ville}}
                        </td>
                      </tr>
                      <tr>
                        <td>Téléphone:</td>
                        <td class="typeWriter">{{st.structurePro.telephone}}</td>
                      </tr>
                      <tr>
                        <td>Mail:</td>
                        <td class="typeWriter">{{st.structurePro.mail}}</td>
                      </tr>
                      </tbody>
                    </table>
                  </ng-template>
                </ngb-panel>
              </div>
            </ngb-accordion>
          </mdb-card-body>
        </mdb-card>
      </div>
    </div>
  </div>
  <div class="col-12 col-xl-4 divCard">
    <mdb-card class="eleveEditCard">
      <mdb-card-header class="eleveEditCardHeader">
        Documents          <button mdbBtn   (click)="openFileModalAdd()" size="sm" mdbWavesEffect  color="green" class="h-75 rounded-pill actionBtn">+</button>
      </mdb-card-header>
      <mdb-card-body>
        <div class="row justify-content-around">
        </div>
        <ngb-accordion>
          <div *ngFor="let cat of categories">
          <ngb-panel>
            <ng-template ngbPanelHeader>
              <div class="text-center">
                <button ngbPanelToggle class="btn btn-link p-0">{{cat.nom}}</button>
              </div>
            </ng-template>
            <ng-template ngbPanelContent>
              <table  mdbTable small="true">
                <tr *ngFor="let el of eleve.listDocuments">
                  <td *ngIf="el.categorie.nom == cat.nom" class="typeWriter col-6"><span>{{el.nom}}</span></td>
                  <div class="col-6">
                  <td *ngIf="el.categorie.nom == cat.nom" class="noPaddingRight noPaddingLeft">
                    <button type="button" mdbBtn  size="sm" rounded="true" mdbWavesEffect class="h-75 rounded-pill docBtn actionBtn"  color="red" aria-label="File" (click)="deleteFile(el)"><fa-icon [icon]="fadelete"></fa-icon></button>
                  </td>
                  <td *ngIf="el.categorie.nom == cat.nom" class="noPaddingRight noPaddingLeft">
                    <button type="button" mdbBtn  size="sm" rounded="true" mdbWavesEffect class="h-75 rounded-pill docBtn actionBtn"  color="blue" aria-label="File" (click)="viewFile(el)"><fa-icon [icon]="faView"></fa-icon></button>
                  </td>
                  <td *ngIf="el.categorie.nom == cat.nom" class="noPaddingRight noPaddingLeft">
                    <button type="button" mdbBtn  size="sm" rounded="true" mdbWavesEffect class="h-75 rounded-pill docBtn actionBtn"  color="blue" aria-label="File" (click)="openFile(el)"><fa-icon [icon]="faDown"></fa-icon></button>
                  </td>
                  </div>
                </tr>
              </table>
            </ng-template>
          </ngb-panel>
          </div>
        </ngb-accordion>
      </mdb-card-body>
    </mdb-card>
  </div>
</div>

<div class="row  col-sm-12">
  <div class="col-12 col-xl-4 noPaddingRight divCard">
    <mdb-card class="eleveEditCard">
      <mdb-card-header class="eleveEditCardHeader">
        Réunion
      </mdb-card-header>
      <mdb-card-body class="w100">
          <span class="row justify-content-center" *ngIf="eleve.dateReunion!=nullDate">
            Date: {{eleve.dateReunion | date:('dd/MM/yy')}}
          </span>
          <span class="row justify-content-center" *ngIf="eleve.dateReunion===nullDate">
            Date à définir
          </span>
        <span class="row justify-content-center">
        <button type="button" mdbBtn  size="sm" rounded="true" mdbWavesEffect class="h-75 update rounded-pill actionBtn" aria-label="comment" (click)="reunionEleve()">Changer...</button>
         </span>
        <span class="row justify-content-center">
          <button *ngIf="!eleve.vu" type="button" mdbBtn  size="sm" rounded="true" mdbWavesEffect class="h-75 rounded-pill actionBtn"  color="green" aria-label="comment" (click)="vuEleve()">Vu</button>
          <button *ngIf="eleve.vu" type="button" mdbBtn  size="sm" rounded="true" mdbWavesEffect class="h-75 rounded-pill actionBtn delete" aria-label="comment" (click)="nonvuEleve()"> Non Vu</button>
      </span>
      </mdb-card-body>
    </mdb-card>
  </div>
  <div class="col-12 col-xl-8 divCard">
    <mdb-card class="eleveEditCard">
      <mdb-card-header class="eleveEditCardHeader">
        Commentaire
      </mdb-card-header>
      <mdb-card-body class="w100">
          <textarea type="text" [(ngModel)]="eleve.commentaire" id="formtext" class="md-textarea md-textarea-auto form-control" mdbInput></textarea>
          <button type="button" mdbBtn  size="sm" rounded="true" mdbWavesEffect class="h-75 rounded-pill docBtn actionBtn"  color="green" aria-label="comment" (click)="updateEleve()">Enregistrer</button>
      </mdb-card-body>
    </mdb-card>
  </div>
</div>
<div class="row justify-content-around col-sm-12">
  <button type="button" mdbBtn  rounded="true" mdbWavesEffect class="btn btn-info"  aria-label="back" (click)="back()">Retour</button>
  <button type="button" mdbBtn  rounded="true" mdbWavesEffect class="btn btn-primary"  aria-label="mail" (click)="listMails()">Liste mails</button>
</div>




