<div class="modal-header editModalHeader">
  <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
    <span aria-hidden="true">×</span>
  </button>
  <h4 class="modal-title w-100" id="myModalLabel">Modifier</h4>
</div>
<div class="modal-body -align-center">
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" >Libellé</span>
    </div>
    <input [(ngModel)]="niveau.libelle" #lib=ngModel type="text" class="form-control" aria-label="Libelle" aria-describedby="inputGroup-sizing-default" required>
  </div>
  <div *ngIf="lib.invalid && (lib.touched)"
       class="alert alert-danger">
    <div *ngIf = "lib.errors?.required">
      Veuillez entrer un libellé
    </div>
  </div>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" >Degré</span>
    </div>
    <select [(ngModel)]="niveau.degre"  name="degre" class="browser-default custom-select form-control">
      <option  [ngValue]="null">Aucun</option>
      <option  [ngValue]=1>1</option>
      <option  [ngValue]=2>2</option>
    </select>
  </div>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" >Specialisé</span>
    </div>
    <select [(ngModel)]="niveau.specialise"  name="specialise" class="browser-default custom-select form-control">
      <option  [ngValue]=true>Oui</option>
      <option  [ngValue]=false>Non</option>
    </select>  </div>
</div>

<div class="modal-footer justify-content-around">
  <button type="button" mdbBtn  rounded="true" mdbWavesEffect class="btn btn-success"  aria-label="Save"
          [disabled]="lib.invalid" (click)="save()">Enregistrer</button>
  <button type="button" mdbBtn  rounded="true" mdbWavesEffect class="btn btn-info"  aria-label="Close" (click)="modalRef.hide()">Retour</button>
</div>

