<div class="modal-header newModalHeader">
  <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
    <span aria-hidden="true">×</span>
  </button>
  <h4 class="modal-title w-100" id="myModalLabel">Nouveau</h4>
</div>
<div class="modal-body -align-center">
  <div class="row">
    <div class="col-6">
      <div class="divider-new">
        <h6 class="text-center font-weight-bold">Infos</h6>
      </div>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" >Nom</span>
    </div>
    <input [(ngModel)]="structure.nom" #nom=ngModel type="text" class="form-control" aria-label="Nom" aria-describedby="inputGroup-sizing-default" required>
  </div>
      <div *ngIf="nom.invalid && (nom.touched)"
           class="alert alert-danger">
        <div *ngIf = "nom.errors?.required">
          Veuillez entrer un nom
        </div>
      </div>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" >Specialité</span>
    </div>
    <input [(ngModel)]="structure.specialite" #spe=ngModel type="text" class="form-control" aria-label="Specialite" aria-describedby="inputGroup-sizing-default" required>
  </div>
      <div *ngIf="spe.invalid && (spe.touched)"
           class="alert alert-danger">
        <div *ngIf = "spe.errors?.required">
          Veuillez entrer une spécialité.
        </div>
      </div>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" >Téléphone</span>
    </div>
    <input [(ngModel)]="structure.telephone" #tel=ngModel type="text" class="form-control" aria-label="Telephone" aria-describedby="inputGroup-sizing-default" required>
  </div>
      <div *ngIf="tel.invalid && (tel.touched)"
           class="alert alert-danger">
        <div *ngIf = "tel.errors?.required">
          Veuillez entrer un numéro de téléphone
        </div>
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" >Mail</span>
        </div>
        <input [(ngModel)]="structure.mail"  #mail=ngModel
               pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-z]{2,3}$" type="text" class="form-control" aria-label="Mail" aria-describedby="inputGroup-sizing-default" required>
      </div>
      <div *ngIf="mail.invalid && (mail.touched)"
           class="alert alert-danger">
        <div *ngIf = "mail.errors?.required">
          Veuillez entrer un mail.
        </div>
        <div *ngIf = "mail.errors?.pattern && mail.touched">
          Format incorrect.
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="divider-new">
        <h6 class="text-center font-weight-bold">Adresse</h6>
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" >Numero</span>
        </div>
        <input [(ngModel)]="structure.adresse.numero" #num=ngModel type="text" class="form-control" aria-label="Numero" aria-describedby="inputGroup-sizing-default" required>
      </div>
      <div *ngIf="num.invalid && (num.touched)"
           class="alert alert-danger">
        <div *ngIf = "num.errors?.required">
          Veuillez entrer un numéro de rue.
        </div>
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" >Voie</span>
        </div>
        <input [(ngModel)]="structure.adresse.voie"  #voie=ngModel type="text" class="form-control" aria-label="Voie" aria-describedby="inputGroup-sizing-default" required>
      </div>
      <div *ngIf="voie.invalid && (voie.touched)"
           class="alert alert-danger">
        <div *ngIf = "voie.errors?.required">
          Veuillez entrer une voie.
        </div>
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" >CP</span>
        </div>
        <input [(ngModel)]="structure.adresse.codePostal" #cp=ngModel pattern="[0-9]{5}"
               type="text" class="form-control" aria-label="CP" aria-describedby="inputGroup-sizing-default" required>
      </div>
      <div *ngIf="cp.invalid && (cp.touched)"
           class="alert alert-danger">
        <div *ngIf = "cp.errors?.required">
          Veuillez entrer un code postal.
        </div>
        <div *ngIf = "cp.errors?.pattern && cp.touched">
          Format incorrect.
        </div>
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" >Ville</span>
        </div>
        <input [(ngModel)]="structure.adresse.ville" type="text"  #ville=ngModel class="form-control" aria-label="Ville" aria-describedby="inputGroup-sizing-default" required>
      </div>
      <div *ngIf="ville.invalid && (ville.touched)"
           class="alert alert-danger">
        <div *ngIf = "ville.errors?.required">
          Veuillez entrer une ville.
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal-footer justify-content-around">
  <button type="button" mdbBtn  rounded="true" mdbWavesEffect class="btn btn-success"  aria-label="Save"
          [disabled]="nom.invalid || spe.invalid || tel.invalid || mail.invalid || num.invalid || voie.invalid || cp.invalid || ville.invalid"
          (click)="save()">Enregistrer</button>
  <button type="button" mdbBtn  rounded="true" mdbWavesEffect class="btn btn-info"  aria-label="Close" (click)="modalRef.hide()">Retour</button>
</div>

