<div class="modal-header infoModalHeader">
  <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
    <span aria-hidden="true">×</span>
  </button>
  <h4 class="modal-title w-100" id="myModalLabel">{{aesh.nom}}</h4>
</div>
<div class="modal-body -align-center">
  <div class="card" >
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><fa-icon [icon]="fatel"></fa-icon> {{aesh.telephone}}</li>
      <li class="list-group-item"><fa-icon [icon]="famail"></fa-icon><a href="mailto:{{aesh.mail}}"> {{aesh.mail}}</a> </li>
    </ul>
  </div>
</div>
<div class="modal-footer">
  <button type="button" mdbBtn  rounded="true" mdbWavesEffect class="btn btn-info" aria-label="Close" (click)="modalRef.hide()" >Retour</button>
</div>


