.container{
  padding-top: 50px;
}



.card-header{
  text-align: center;
  font-family: neatchalk, Tahoma, sans-serif;
  border-color: grey;
  font-size: 0.6em;
  color: white;
}

.card{
  border-color: grey;
  max-width: 500px;
  margin:auto;
}

input{
  text-align: center;
}

.btn-success{
  background-color: #35a037;
  border-color: #276f29;
}

.btn-success:hover{
  background-color: #2a652d;
}
