<div class="container ">
  <div class="col-6 offset-3  ">
    <div class="card ">
      <div class="card-header font-tableau">Authentification</div>
      <div class="alert alert-danger" *ngIf="erreur==1">
        <strong>Informations de connection incorrectes!</strong>
      </div>
      <div class="card-body">
        <form #f="ngForm" (ngSubmit)="onLogin(f.value)">
          <div class="form-group">
            <input  class="form-control rounded" ngModel="" type="text" name="mail" placeholder="Mail" required>
          </div>
          <div class="form-group">
            <input class="form-control rounded" ngModel="" type="password" name="motDePasse" placeholder="Mot de passe" required>
          </div>
        <div class="row justify-content-around">
          <button type="submit" class="btn btn-success rounded  col-md-3 col-4">Connection</button>
          <a href="/inscription"  class="btn btn-info rounded  col-md-3  col-5">S'inscrire</a>
        </div>
        </form>
      </div>
    </div>
  </div>
</div>
