<div class="container">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <div class=" md-form">
        <input type="text" class="form-control" [(ngModel)]="searchText" (keyup)="searchItems()" id="search-input"
               mdbInput>
        <label for="search-input">Rechercher...</label>
      </div>
    </div>

    <mdb-card class="font-tableau"  >
      <mdb-card-header class="tableHeader cardheaderChalk">
        Documents requis
        <button mdbBtn outline="true" color="white" (click)="openModalNew()"   size="sm" mdbWavesEffect  class="rounded-pill actionBtn new">+</button>
      </mdb-card-header>
      <mdb-card-body>
        <table mdbTable small="true" #tableEl="mdbTable" hover="true" striped="true" class="z-depth-1 listTable">
          <thead>
          <tr>
            <th [mdbTableSort]="documentInscriptionRequiss" sortBy="nom" scope="col">Nom <mdb-icon fas icon="sort"></mdb-icon></th>
            <th  scope="col"></th>
          </tr>
          </thead>
          <tbody >
          <tr *ngFor="let el of documentInscriptionRequiss; let i = index">
            <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{el.nom}}</td>
            <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex" >
              <button mdbBtn (click)="openModalEdit(el)"   size="sm" mdbWavesEffect  class="mh-100 rounded-pill actionBtn update"><fa-icon [icon]="fapencil"></fa-icon></button>
              <button mdbBtn (click)="openModalDelete(el)"  size="sm" mdbWavesEffect  class="mh-100 rounded-pill actionBtn delete"><fa-icon [icon]="fadelete"></fa-icon></button>
            </td>
          </tr>
          </tbody>
          <tfoot class="grey lighten-5 w-100">
          <tr>
            <td colspan="2">
              <mdb-table-pagination [tableEl]="tableEl" paginationAlign="" [searchDataSource]="documentInscriptionRequiss"></mdb-table-pagination>
            </td>
          </tr>
          </tfoot>
        </table>
      </mdb-card-body>
    </mdb-card>
  </div>
</div>




