<div class="container-fluid">
  <header class="font-tableau" *ngIf="!(isLoggedIn$ | async)">
    <h2>
      <small><fa-icon [icon]="fapencil"></fa-icon></small>
      Enseignant Référent
      <small><fa-icon [icon]="fapencil"></fa-icon></small>
    </h2>
  </header>
  <nav class="navbar navbar-dark navbar-expand-lg font-tableau" role="navigation" *ngIf="isLoggedIn$ | async">
      <a class="navbar-brand" routerLink="accueil">
        <small><fa-icon [icon]="fapencil"></fa-icon></small>
        Enseignant Référent
      </a>
    <button class="navbar-toggler hidden-sm-up " type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed" data-target="#navbarsDefault" aria-controls="navbarsDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="navbarsDefault">
      <ul class="nav navbar-nav mr-auto">
        <li class="nav-item dropdown" ngbDropdown>
          <a class="nav-link dropdown-toggle" style="cursor: pointer" ngbDropdownToggle>Elèves<b class="caret"></b></a>
          <ul class="dropdown-menu " ngbDropdownMenu>
            <li><a href="#" class="item-dropdown" ngbDropdownItem>Non vus</a></li>
            <li><a href="#" class="item-dropdown" ngbDropdownItem>Vus</a></li>
            <li class="divider"></li>
            <li><a href="#" class="item-dropdown" ngbDropdownItem>Tous</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown" ngbDropdown>
          <a class="nav-link dropdown-toggle" style="cursor: pointer" ngbDropdownToggle>Inscription<b class="caret"></b></a>
          <ul class="dropdown-menu " ngbDropdownMenu>
            <li><a href="#" class="item-dropdown" ngbDropdownItem>Dossiers en cours</a></li>
            <li><a href="#" class="item-dropdown" ngbDropdownItem>Nouveau dossier...</a></li>
            <li class="divider"></li>
            <li><a href="#" class="item-dropdown" ngbDropdownItem>Documents requis</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown" ngbDropdown>
          <a class="nav-link dropdown-toggle" style="cursor: pointer" ngbDropdownToggle>Gestion<b class="caret"></b></a>
          <ul class="dropdown-menu " ngbDropdownMenu>
            <li><a href="#" class="item-dropdown" ngbDropdownItem>PIAL</a></li>
            <li><a href="#" class="item-dropdown" ngbDropdownItem>Etablissement</a></li>
            <li><a href="#" class="item-dropdown" ngbDropdownItem>Niveau</a></li>
            <li><a href="#" class="item-dropdown" ngbDropdownItem>AESH</a></li>
            <li><a routerLink="structure" class="item-dropdown" ngbDropdownItem>Structure professionnelle</a></li>
            <li><a href="#" class="item-dropdown" ngbDropdownItem>Materiel pédagogique adapté</a></li>
            <li><a href="#" class="item-dropdown" ngbDropdownItem>Categorie document</a></li>
          </ul>
        </li>
        <li> <a class="nav-link" href="#">Mon compte</a> </li>
      </ul>
      <form class="navbar-form navbar-right"  (ngSubmit)="onLogout()">
        <button type="submit" class="btn btn-danger btn-sm"><fa-icon [icon]="faoff"></fa-icon></button>
      </form>
    </div>
  </nav>
  <router-outlet></router-outlet>
</div>
