.glyphicon-pencil{
  color: white;
}


.navbar-brand, .navbar-dark .navbar-nav > li > a{
  color : white;
}



.dropdown-item:hover{
  background: url('../assets/images/tableau1.jpg') no-repeat center fixed;
}




