<div class="modal-header validateModalHeader">
  <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
    <span aria-hidden="true">×</span>
  </button>
  <h4 class="modal-title w-100 " id="myModalLabel">Valider l'inscription</h4>
</div>
<div class="modal-body -align-center">
  Voulez-vous valider l'inscription de l'élève  <b>"{{eleve.nom}} {{eleve.prenom}}"</b>?
</div>
<div class="modal-footer">
  <button type="button" mdbBtn  rounded="true" mdbWavesEffect class="btn btn-success" aria-label="Validate" (click)="validate()" >Valider</button>
  <button type="button" mdbBtn  rounded="true" mdbWavesEffect class="btn btn-info" aria-label="Close" (click)="modalRef.hide()" >Retour</button>
</div>

