<div class="modal-header editModalHeader">
  <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
    <span aria-hidden="true">×</span>
  </button>
  <h4 class="modal-title w-100" id="myModalLabel">Modifier</h4>
</div>
<div class="modal-body -align-center">
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" >Nom</span>
    </div>
    <input [(ngModel)]="structure.nom" type="text" class="form-control" aria-label="Nom" aria-describedby="inputGroup-sizing-default" required>
  </div>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" >Specialité</span>
    </div>
    <input [(ngModel)]="structure.specialite" type="text" class="form-control" aria-label="Specialite" aria-describedby="inputGroup-sizing-default" required>
  </div>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" >Téléphone</span>
    </div>
    <input [(ngModel)]="structure.telephone" type="text" class="form-control" aria-label="Telephone" aria-describedby="inputGroup-sizing-default" required>
  </div>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" >Mail</span>
    </div>
    <input [(ngModel)]="structure.mail" type="text" class="form-control" aria-label="Mail" aria-describedby="inputGroup-sizing-default" required>
  </div>
  <div class="divider-new">
    <h6 class="text-center font-weight-bold">Adresse</h6>
  </div>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" >Numero</span>
    </div>
    <input [(ngModel)]="structure.adresse.numero" type="text" class="form-control" aria-label="Numero" aria-describedby="inputGroup-sizing-default" required>
  </div>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" >Voie</span>
    </div>
    <input [(ngModel)]="structure.adresse.voie" type="text" class="form-control" aria-label="Voie" aria-describedby="inputGroup-sizing-default" required>
  </div>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" >CP</span>
    </div>
    <input [(ngModel)]="structure.adresse.codePostal" type="text" class="form-control" aria-label="CP" aria-describedby="inputGroup-sizing-default" required>
  </div>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" >Ville</span>
    </div>
    <input [(ngModel)]="structure.adresse.ville" type="text" class="form-control" aria-label="Ville" aria-describedby="inputGroup-sizing-default" required>
  </div>
</div>

<div class="modal-footer justify-content-around">
  <button type="button" mdbBtn  rounded="true" mdbWavesEffect class="btn btn-success"  aria-label="Save" (click)="save()">Enregistrer</button>
  <button type="button" mdbBtn  rounded="true" mdbWavesEffect class="btn btn-info"  aria-label="Close" (click)="modalRef.hide()">Retour</button>
</div>

