@font-face
{
  font-family: 'learningcurve';
  src: url('assets/fonts/learning_curve_bold_ot_tt.ttf')format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face
{
  font-family: 'scholarfont';
  src: url('assets/fonts/PWScolarpaper.ttf')format('truetype');
  font-weight: normal;
  font-style: normal;
}


@font-face
{
  font-family: 'neatchalk';
  src: url('assets/fonts/NeatChalk-P4Wm.ttf')format('truetype');
  font-weight: normal;
  font-style: normal;
}

.container-fluid{
  padding:0px;
}

.font-tableau
{
  margin:0;
  background: url('./assets/images/tableau1.jpg') no-repeat center fixed;
  background-size: cover;
}

.divider-new{
  margin-top:1rem;
  margin-bottom:1rem;
}

.btn.btn-sm.actionBtn {
  padding: 0.2rem 1rem 0.1rem  1rem;
  font-size: 1rem;
}

.btn.btn-sm.details, .infoModalHeader {
  background-color: #4879c1;
  color: white;
}

.btn.btn-sm.update, .editModalHeader {
  background-color: #cf6800;
  color: white;
}

.btn.btn-sm.delete, .dangerModalHeader{
  background-color: #8c1a1a;
  color: white;
}

.newModalHeader{
  background-color: #1a7523;
  color: white;
}

.btn.btn-sm.new{
  margin: 0.3rem 0.5rem 0.9rem;
}

.listTable{
  background-color: white;
}

.tableHeader{
  border: none;
}

.cardheaderChalk{
  text-align: center;
  font-family: neatchalk, Tahoma, sans-serif;
  border-color: grey;
  font-size: 0.6em;
  color: white;
}

.tableHeader{
  font-size: 1em;
}

mdb-card{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

mdb-card-body.card-body{
  padding-top: 0;
}

.pagination{
  font-weight: bold;
}

.pagination .page-item .page-link {
  font-size: 1.2rem;
  padding-bottom: 10px;
}

.eleveTitle{
  font-size: 1em;
  padding: 10px;
  margin: 10px;
}

.eleveEditCardHeader{
  background-color: #214c4e;
  color: white;
  text-align:  center;
  width: 100%;
  margin-bottom: 10px;
}

.eleveEditCard{
  padding: 0;
  margin: 10px;
}


