@font-face
{
  font-family: 'learningcurve';
  src: url('assets/fonts/learning_curve_bold_ot_tt.ttf')format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face
{
  font-family: 'scholarfont';
  src: url('assets/fonts/PWScolarpaper.ttf')format('truetype');
  font-weight: normal;
  font-style: normal;
}


@font-face
{
  font-family: 'neatchalk';
  src: url('assets/fonts/NeatChalk-P4Wm.ttf')format('truetype');
  font-weight: normal;
  font-style: normal;
}

.container-fluid{
  padding:0px;
}

.rounded {
  border-radius: 40px;
}

header
{
  margin:0px;
  text-align: center;
  font-family: scholarfont, Tahoma, sans-serif;
  font-weight: bold;
  background-color: cadetblue;
  border: 1px #4879c1 groove ;

}

h2
{
  margin-bottom: 5px;
  margin-top: 5px;
}

html
{
  margin:0;
  padding:0;
  background: url('./assets/images/tableau1.jpg') no-repeat center fixed;
  background-size: cover;
}

.container-fluid{
  background-color: blue;
}




