<div class="modal-header editModalHeader">
  <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
    <span aria-hidden="true">×</span>
  </button>
  <h4 class="modal-title w-100" id="myModalLabel">Modifier le mot de passe</h4>
</div>
<div class="modal-body -align-center">
    <div class="form-group">
      <input
        class="form-control rounded"
        type="password"
       [(ngModel)] ="oldPass"
        #oldmpd=ngModel
        placeholder="Mot de Passe Actuel"
        minlength ="8" required>
    </div>

    <div *ngIf="error" class="alert alert-danger">
      Mot de passe incorrect
    </div>

    <div class="form-group">
      <input
        class="form-control rounded"
        type="password"
        [(ngModel)] ="motDePasse.mpd"
        #mpd=ngModel
        placeholder=" Nouveau Mot de Passe"
        minlength ="8" required>
    </div>

    <div class="form-group">
      <input
        class="form-control rounded"
        type="password"
        [(ngModel)] ="motDePasse.rempd"
        #rempd=ngModel
        placeholder="Confirmer Mot de passe"
        required>
    </div>

    <div *ngIf="((mpd.invalid && mpd.touched) || ((motDePasse.mpd != motDePasse.rempd) && rempd.touched) )"
         class="alert alert-danger">
      <div *ngIf = "mpd.invalid; else nomatch">
        8 caratères minimum.
      </div>
      <ng-template #nomatch >
        les mots de passe ne sont pas identiques.
      </ng-template>
    </div>
  </div>
  <div class="modal-footer justify-content-around">
    <button type="submit" mdbBtn  rounded="true" mdbWavesEffect class="btn btn-success"  aria-label="Save" (click)="save()" [disabled]="mpd.invalid || motDePasse.mpd !=motDePasse.rempd">Enregistrer</button>
    <button type="button" mdbBtn  rounded="true" mdbWavesEffect class="btn btn-info"  aria-label="Close" (click)="modalRef.hide()">Retour</button>
  </div>

