<div class="container">


  <div class="row">

    <mdb-card class="font-tableau"  >
      <mdb-card-header class="tableHeader cardheaderChalk">
          Prochains RDV:
      </mdb-card-header>
      <mdb-card-body>
        <table mdbTable small="true"  hover="true" striped="true" class="z-depth-1 listTable">
          <thead>
          <tr>
            <th>Nom <mdb-icon fas icon="sort"></mdb-icon></th>
            <th>Prénom <mdb-icon fas icon="sort"></mdb-icon></th>
            <th>Date de naissance <mdb-icon fas icon="sort"></mdb-icon></th>
            <th>Réunion <mdb-icon fas icon="sort"></mdb-icon></th>
            <th  scope="col"></th>
          </tr>
          </thead>
          <tbody >
          <tr *ngFor="let el of eleves">
            <td>{{el.nom}}</td>
            <td>{{el.prenom}}</td>
            <td>{{el.dateNaissance | date:'d MMMM yyyy'}}</td>
            <td>
                {{el.dateReunion | date:'d MMMM yyyy  HH:mm'}}
            </td>
            <td>
              <button mdbBtn (click)="openEleveDetails(el)"   size="sm" mdbWavesEffect  class="mh-100 rounded-pill actionBtn details"><fa-icon [icon]="facard"></fa-icon></button>
              <button mdbBtn (click)="openEleveEdit(el)"   size="sm" mdbWavesEffect  class="mh-100 rounded-pill actionBtn update"><fa-icon [icon]="fapencil"></fa-icon></button></td>
          </tr>
          </tbody>
        </table>
      </mdb-card-body>
    </mdb-card>

  </div>
</div>





